@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/*This is to animate the spinning block*/
.animate-glow {
  position: relative;
  isolation: isolate;
  /* z-index: 1; */
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.animate-glow::before, .animate-glow::after {
  content: "";
  position: absolute;
  inset:-3px;
  background: conic-gradient(from var(--angle), transparent 20%, transparent 10%, rgb(59, 153, 253), cyan, transparent 10%, rgb(82, 225, 223), rgb(170, 212, 231));
  z-index: -1;
  border-radius: 100px;
  animation: 10s spin linear infinite;
}

.animate-glow::before {
  filter: blur(8px);
  opacity: 0.3;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

/* This is to animate the truck moving */

.animate-truck1{
  /* position: relative;
  isolation: isolate; */
  animation: animate-truck1 5s linear infinite;
}

/* This animates the truck to move forward and rush back */
@keyframes animate-truck1{
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  } 
  80%{
    transform: translateX(675px) translateY(0) rotate(0deg);
  }
  83%{
    transform: translateX(680px) translateY(-20px) rotate(45deg);
  }
  88%{
    transform: translateX(500px) translateY(-20px) rotate(0deg);
  }
  90%{
    transform: translateX(450px) translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
}

/* This is to animate the truck moving in a circle around the border */
/* @keyframes animate-truck1{
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  } 
  30%{
    transform: translateX(675px) translateY(0) rotate(0deg);
  }
  33%{
    transform: translateX(685px) translateY(0) rotate(-90deg);
  }
  40% {
    transform: translateX(685px) translateY(-100px) rotate(-90deg);
  }
  60% {
    transform: translateX(685px) translateY(-550px) rotate(-90deg);
  }
  65%{
    transform: translateX(675px) translateY(-560px) rotate(-180deg);
  }
  70%{
    transform: translateX(500px) translateY(-560px) rotate(-180deg);
  }
  75%{
    transform: translateX(520px) translateY(-560px) rotate(-175deg);
  }
  76%{
    transform: translateX(510px) translateY(-570px) rotate(-175deg);
  }
  80%{
    transform: translateX(-10px) translateY(-560px) rotate(-180deg);
  }
  82%{
    transform: translateX(0px) translateY(-560px) rotate(-270deg);
  }
  85%{
    transform: translateX(-40px) translateY(-60px) rotate(-270deg);
  } 
  90%{
    transform: translateX(-5px) translateY(-60px) rotate(-200deg);
  }
  95%{
    transform: translateX(0px) translateY(0) rotate(90deg);
  }
  97%{
    transform: translateX(20px) translateY(10px) rotate(-10deg);
  }
  
  98%{
    transform: translateX(0) translateY(0) rotate(30deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg);
    
  }
} */

/* Create a faded popup animation */
.animate-signupPop{
  position: relative;
  isolation: isolate;
  animation: animate-signupPop 2s linear forwards;
}

@keyframes animate-signupPop{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150px);
  }
}

.animate-custortruck {
  position: relative;
  isolation: isolate;
  animation: animate-custortruck 1s linear infinite; 
}

@keyframes animate-custortruck{
  0% {
    transform: translateY(0); /* start at origin position */
  } 
  10% {
    transform: translateY(10px); /* goes down the y-axis */
  }
  50% { 
    transform: translateY(-20px); /* goes up the y-axis */
  }
  100% {
    transform: translateY(0);
  }
}

/* Save this just in case you want to change the customer icon animation */
/* .animate-custortruckUser {
  position: relative;
  isolation: isolate;
  animation: animate-custortruckUser 1s linear infinite;
}

@keyframes animate-custortruckUser {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
} */


.animate-truck2{
  position: relative;
  isolation: isolate;
  animation: animate-truck2 5s linear infinite;
}

@keyframes animate-truck2{
  0% {
    opacity: 0.25;
    transform: translateX(0) translateY(-330px) rotate(0deg);
  } 
  1%{
    opacity: 1;
    transform: translateX(0) translateY(-330px) rotate(0deg);
  }
  30%{
    transform: translateX(1000px) translateY(-330px) rotate(0deg);
  }
  35%{
    transform: translateX(1000px) translateY(-130px) rotate(90deg);
  }
  40%{
    transform: translateX(1000px) translateY(200px) rotate(90deg);
  }
  45%{
    transform: translateX(1000px) translateY(500px) rotate(1300deg);
  }
  60%{
    transform: translateX(1000px) translateY(2000px) rotate(1800deg);
  }
  70%{
    opacity: 0;
    transform: translateX(0) translateY(-330px) rotate(1800deg);
  }
  80%{
    opacity: 0;
    transform: translateX(0) translateY(-650px) rotate(1800deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(-330px) rotate(0deg);
  }
}